# Данные приложения получения SSL сертификатов
/certbot/

# Ключи шифрования
*.pem

# Данные БД приложений пользовательских данных и авторизации
/data_db/
/auth_db/

# Файлы переменных конфигурации приложений
*/*.env

# Дамп данных Redis
/redis/data/*.rdb
